body {
    font-family: Arial;
    color: rgba(3, 42, 77, 0.888)
}
a:hover {text-decoration: underline;}

body {
    background-color: #ebd1e6;
}

h1, h2{
    color: #5c0862;
}

a {
    color: #036456;
}